.git
.github
.env
.env.*
!.env.example
!.env.production.example
README.md
README_DEPOT.md
docs
frontend
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
tests
